:root {
    --negro-claro: #1A1A1A;
    --rojo-claro: #E6494F;
    --rojo-oscuro: #D42027;
    --blanco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--negro-claro);
    align-items: center;
    border-bottom: 3px solid var(--rojo-claro);
    height: 60px;
}

.linea-vertical {
    border-left: 3px solid var(--blanco);
}

.navbar i {
    font-size: 1.5em;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 20px 35px;
}

.navbar a:hover {
    background-color: var(--rojo-claro);
}

.navbar img {
    height: 30px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 60%;
    background-color: var(--rojo-claro);
    border-radius: 5px;
    overflow: hidden;

}

.buscador input {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 1em;
    color: white;
    background-color: var(--rojo-claro);
    outline: none;
    text-align: center;
    font-weight: bold;
    border-right: 2px solid var(--blanco);
    font-family: 'Montserrat', sans-serif;
}

.buscador input::placeholder {
    color: white;
    opacity: 0.5;
    text-align: start;
}

.buscador button {
    background-color: var(--rojo-claro);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

.contenedor-ordernar {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.estrenos img {
    width: 263px;
    height: 450px;
    margin-bottom: 15px;
}

.estrenos {
    flex-wrap: wrap;
    width: 800px;
}

.calificaciones {
    width: 500px;
}

.titulo {
    color: #fff;
    margin-bottom: 30px;
    background-color: var(--rojo-claro);
    padding: 15px;
}

.boton-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.boton {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    border-top: 3px solid var(--rojo-claro);
    border-bottom: 3px solid var(--rojo-claro);
    font-size: 1.2em;
    background-color: transparent;
}

.comentario-entero {
    display: flex;
    gap: 5px;
    padding: 5px;
    border-radius: 6px;
    margin: 15px;
    background-color: white;
}

.estrellas {
    margin-top: 25px;
}

.info-comentario h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.estrellas i {
    font-size: 1.7em;
}

.comentario-foto img {
    height: 75px;
}

.fondorojo {
    padding: 10px;
    background-color: var(--rojo-claro);
    border-radius: 6px;
}

.valoradas {
    margin: 0 50px;
}

.pelisvalor {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.pelisvalor img {
    height: 400px;
    width: 220px;
}

.footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9em;
}

.footer-titulo {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.logo-footer {
    height: 30px;
}

.footer-info i {
    margin-right: 5px;
}

.footer-derechos {
    font-size: 0.8em;
}