:root {
    --negro-claro: #1A1A1A;
    --rojo-claro: #E6494F;
    --rojo-oscuro: #D42027;
    --blanco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--negro-claro);
    align-items: center;
    border-bottom: 3px solid var(--rojo-claro);
    height: 60px;
}

.linea-vertical {
    border-left: 3px solid var(--blanco);
}

.navbar i {
    font-size: 1.5em;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 20px 35px;
}

.navbar a:hover {
    background-color: var(--rojo-claro);
}

.navbar img {
    height: 30px;
}

.contenedor-ordenar {
    display: flex;
}

.izquierda {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto 50px;
}

.izquierda h2 {
    margin-top: 25px;
    font-weight: 400;
}

iframe {
    margin: 50px auto;
}

.primeracolumna img {
    margin-top: 15px;
    width: 100%;
}

.t2 p {
    margin-bottom: -30px;
}

.t2 {
    width: 400px;
}

.redes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.redes a {
    margin-top: 15px;
    color: white;
}

.redes i {
    padding: 20px 25px;
    font-size: 1.4em;
    background-color: var(--rojo-claro);
    border-radius: 15px;
}

.frame {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}